<!--The content below is only a placeholder and can be replaced.-->

<h1>{{title}}</h1>
<mat-toolbar>
<span>Angular6 react form</span>
</mat-toolbar>
<!--<app-name-editor></app-name-editor>
  <app-profile-editor></app-profile-editor>
-->
<body>
  <div style="text-align:center">
    <h1>
    Welcome to {{title}}!!
    </h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active">
      <a routerLink="list" class="nav-link" routerLinkActive="active">
        list  profiles
      </a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>
