<table class="table table-hover">
  <thead>
    <tr>
      <td>Profile First Name</td>
      <td>Profile Last Name</td>
      <td>Email</td>
      <td colspan="2">Actions</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let profile of profiles">
      <td>{{ profile.firstname }}</td>
      <td>{{ profile.lastname }}</td>
      <td>{{ profile.email }}</td>
      <td><a [routerLink]="['/edit', profile._id]" class="btn btn-primary">Edit</a></td>
      <td><button (click)="deleteProfile(profile._id)" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
